<h1>課題1 簡単なブログ</h1>
<%= link_to("記事作成", :controller => "posts", :action => "new") %>
<ul>
<% @posts.each do |post| %>
  <li><%= link_to(post.title, :controller => "posts", :action => "show", :id => post.id) %>&nbsp;
  <%= link_to("削除", {:controller => "posts", :action => "delete", :id => post.id}, data:{:confirm => post.title + "を削除します"} ) %></li>
<% end %>
</ul>